{% extends "user.html" %}
{% block content %}
    <h1 class="main-header">Home Page</h1>
        <container>

            тут надо и делать, что при клике на name сортировать по name
            <div>Name</div>
            <div class="Category">
                <div>Category </div>  
                <div>Last used</div>
                <div> Password</div>
            </div>
            <div>ID</div>
            ...
        </container>

        еще задание
        1. добавить css/html (андрей)
        2. сделать delete passwords (я)
        3. sorted by - андрей
        4. search by - андрей
        5. testing - я
        6. edit item - я

{% endblock content %}
