<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Login Registration Demo</title>
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style type="text/css">
    .sidenav {
      height:100%;
      width:160px;
      position: fixed;
      z-index:1;
      top:0;
      left:90%;
      background-color:#111;
      overflow-x: hidden;
      padding-top:20px;
    }

    .sidenav a {
      padding:6px 8px 6px 16px;
      text-decoration: none;
      font-size:25px;
      color: #818181;
      display:block;
    }

    .sidenav a:hover{
      color:#f1f1f1;
    }	

    .main{
      margin-left:160px;
      padding: 0px 10px;
    }

  </style>

</head>
<body>
  <div class="sidenav">
    <a href="/">Home</a>
    <a href="/">Create</a>
    <a href="/">For exemple</a>
    <h2> {{ user.username }}</h2>
    <h3>{{ user.email}}</h3>
  </div>
  

  {% block content %}{% endblock content %}
</body>
</html>
