<!-- user.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Registration Demo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/passInfo.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/createPass.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    
    <div class="sidenav">
      <div class="sidebar-links">
        <a href="{% url 'user:home' %}"> <i class="fas fa-band-aid"></i>Home</a>
        <!-- <a href="{% url 'user:json' %}">Json person</a> -->
        <!-- <a href="{% url 'manPassword:jsonPasswords' %}">Json passwords</a> -->
        <a href="{% url 'manPassword:createPass' %}">Create</a>
        <a href="{% url 'manPassword:showpass' %}">Show</a>
        <a href="{% url 'user:logout' %}">Log out</a>
      </div>
      <div class="sidebar-info">  
    
          <div class="user-name"> {{ user.username }}</div>
          <div class="user-email">{{ user.email }}</div>

      </div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock content %}
  </div>

</body>
</html>
