#signup-form {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the form cover the entire viewport height */
    
}
.createform{
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    padding: 20px;
    width: 50%;

}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.input-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form .submit {
    border: none;
    border-radius: 10px; /* Round buttons */
    background-color: #8884b4; /* Red buttons */
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5px 5px;
    display: inline-block; /* Buttons inline with text */
}