/* navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;

}

.container {
    flex: 1; /* Растягиваем контейнер на всю доступную ширину */
}

.sidenav {
  min-height: 98%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A8AADB; /* Красный цвет фона */
  overflow-x: hidden;
  overflow-y: auto; /* Добавлено для автоматической прокрутки */
  padding-top: 20px;
  display: flex; /* Использование flexbox */
  flex-direction: column; /* Направление столбцом */
  justify-content: space-between; /* Распределение пространства между дочерними элементами */
}

.sidenav a {
    padding: 19px 8px 19px 16px;
    text-decoration: none;
    font-size: 2vh;
    color: #111D4A;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-size: 2vh;
}

.sidebar-info{

  padding: 20px;

  background-color:#8380B6;  
  
}


.container{
  padding-left: 22%;
}

.user-name{
  color: #f1f1f1;
  font-size: 2vh;
}
.user-email{
  color: #f1f1f1;
    font-size: 1vh;
}