{% extends "user.html" %}

{% block content %}
    <h1>All Passwords</h1>
    <form method="GET" class="filter_cat" action="{% url 'manPassword:filter' %}">
        <label for="category">Filter by Category:</label>
        <input type="text" id="category" name="category">
        <button type="submit">Filter/Reset</button>
    </form>
    <form method="GET" class="filter_burt" action="{% url 'manPassword:filter' %}">
        <button type="submit" name="sort" value="asc">Sort A-Z</button>
        <button type="submit" name="sort" value="desc">Sort Z-A</button>
    </form>

    <div class="Pass-container">
        {% for manager in managers %}
            {% if manager.user.username == user.username %}
            <div class="Pass-div">
                <div>User:</div> {{ manager.user.username }}<br>
                <strong>Category:</strong> {{ manager.category }}<br>
                <strong>Password:</strong> {{ manager.password }}<br>
                <strong>Date of Creation:</strong> {{ manager.date_of_creation }}<br>
                <strong>Last Used:</strong> {{ manager.last_used }}<br>
                <strong>Description:</strong> {{ manager.description }}<br>
                <strong>unique_id:</strong> {{ manager.unique_id }}<br>
                <a href="{% url 'manPassword:edit_data' manager.unique_id %}">Update</a>
                <a href="{% url 'manPassword:delete' manager.unique_id %}">Delete</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
