{% extends "user.html" %}

{% block content %}
    <h1>Password Manager!</h1>
    <form method="GET" class="filter_form" action="{% url 'manPassword:filter' %}">
        <div class="filter_item">
            <label for="category">Filter by Category:</label>
            <input type="text" id="category" name="category">
        </div>
        <div class="filter_item">
            <label for="max_length">Max Password Length:</label>
            <input type="number" min="0" id="max_length" name="max_length">
        </div>
        <div class="filter_item">
            <label for="max_cat_length">Max Category Length:</label>
            <input type="number" min="0" id="max_cat_length" name="max_cat_length">
        </div>
               
        <button class="filter_btn" type="submit">Filter/Reset</button>
    </form>
    <form method="GET" class="sort_form" action="{% url 'manPassword:filter' %}">
        {% if request.GET.category %}
            <input type="hidden" name="category" value="{{ request.GET.category }}">
        {% endif %}
        {% if request.GET.max_length %}
            <input type="hidden" name="max_length" value="{{ request.GET.max_length }}">
        {% endif %}
        {% if request.GET.max_cat_length %}
            <input type="hidden" name="max_cat_length" value="{{ request.GET.max_cat_length }}">
        {% endif %}
        <button class="filter_btn" type="submit" name="sort" value="asc">Sort A-Z</button>
        <button class="filter_btn" type="submit" name="sort" value="desc">Sort Z-A</button>
    </form>

    <div class="Pass-container">
        {% for manager in managers %}
            {% if manager.user.username == user.username %}
            <div class="Pass-div">
                <div>User:</div> {{ manager.user.username }}<br>
                <strong>Category:</strong> {{ manager.category }}<br>
                <strong>Password:</strong> {{ manager.password }}<br>
                <strong>Date of Creation:</strong> {{ manager.date_of_creation }}<br>
                <strong>Last Used:</strong> {{ manager.last_used }}<br>
                <strong>Description:</strong> {{ manager.description }}<br>
                <strong>Unique ID:</strong> {{ manager.unique_id }}<br>
                <a href="{% url 'manPassword:edit_data' manager.unique_id %}">Update</a>
                <a href="{% url 'manPassword:delete' manager.unique_id %}">Delete</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
