<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body style=" padding: 20px; font-family: Arial, sans-serif;">

    

    {% if messages %}
    
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form class="login" method="POST" style="max-width: 400px; margin: 0 auto; text-align: center;"> 
        {% csrf_token %} 
        <h2>Login to your account</h2>
        {{form}} 
        <button type="submit">Submit</button> 
        <p style="text-align: center; margin-top: 10px;"><a href="{% url 'user:signup' %}" style=" text-decoration: none;">Don't have an account? Sign up</a></p> 
    </form>

</body>
