
  <body>
    <form method="POST" action="." class="login-form spacer" id="signup-form">
      {% csrf_token %}
      <div class="input-group">
        {{ form.username }}
      </div>
      <div class="input-group">
        {{form.email}} 
      </div>
      <div class="input-group">
        {{ form.password1 }}
      </div>
      
      <div class="input-group">
        {{ form.password2 }}
      </div>
      
      <input type="submit" class="submit" value="Signup">
    </form>
    <div> already have an account <a class="signup-link" href="{% url "user:login" %}">Login</a></div>
  </body>
